<% @settings.each do |setting| %>
<footer class="mdl-mini-footer">
                <div class="demo-container mdl-grid">
                    <div class="mdl-logo">
                    <wicky><%= setting.title_footer %></wicky>
                    </div>
                </div>
</footer>
<% end %>