<main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width portfolio-contact">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
               <div class="demo-container mdl-grid">
                          <h4 class="iyo">
                            News Event
                          </h4>
                      </div>
            <div class="android-drawer-separator"></div>
            
        <div class="mdl-grid portfolio-max-width">
            <%= render "event" %>
            </div>
            <div class="demo-container mdl-grid">
                          <h4 class="iyo">
                            News Travel
                          </h4>
                      </div>
            <div class="android-drawer-separator"></div>
            <div class="mdl-grid portfolio-max-width">
            <%= render "travel" %>
        </div>
    </div>
   </div>
     <div class="android-drawer-separator"></div>
    <%= render "footer" %>
</main>

