<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <%= link_to events_path, class: "mdl-tabs__tab" do %>
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--pink mdl-color-text--white" role="presentation">
                <i class="material-icons">swap_vert</i>
              </button>
      <% end %>
      <a href="#category-panel" class="mdl-tabs__tab">
      Pilih Kategori</a>
  </div>

  <div class="mdl-tabs__panel" id="category-panel">
    
     <ul class="demo-list-item mdl-list">
      <% Ecategory.all.each do |ecategory| %>
      <li class="mdl-list__item">
         <%= link_to ecategory.name, events_path(ecategory: ecategory.name), class: "mdl-list__item-primary-content" %>
      </li>
      <% end %>
    </ul>
    
  </div>
</div>

