  <% @events.each do |event| %>
      <section class="section--center mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                  <div class="mdl-card mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__supporting-text">
                      <h4><%= event.title %></h4>
                      <p class="mdl-color-text--pink-600">Posted<%= event.created_at.strftime(" %d - %B - %Y ") %>
                      </p>
                      <p><%= event.description.html_safe %></p>
                    </div>
                    <div class="android-drawer-separator"></div>
                    <div class="mdl-card__actions">
                    <%= link_to "Baca Selengkapnya", event, class: "mdl-button mdl-js-button mdl-button--accent" %>
                    </div>
                  </div>
          </section>
        <div class="android-drawer-separator"></div>
        <% end %>